body{
    background-color: rgb(132, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 500px;
    height: 500px;
    background: cornsilk;
    border-radius: 50%;
    border: 10px solid azure;
}
.hand{
    background: rgb(155, 94, 94);
    position:absolute;
    bottom:50%;
    left:50%;
    transform: translate(-50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform-origin: bottom;
}
.seconds{
    height: 14rem;
    width:0.2rem;
}
.minutes{
    height: 11rem;
    width:0.7rem;
}
.hours{
    height: 9rem;
    width:1rem;
}
.clock::before{
    content:'';
    width:30px;
    height: 30px;
    position:absolute;
    background:rgb(155, 94, 94);
    border-radius: 50%;
    top: 50.5%;
    left: 50.5%;
    transform: translate(-50%,-50%);
}
.number{
    font-size: 40px;
    color:rgb(184, 216, 162);
}
.twelve{
    position:absolute;
    left: 48.5%;
}
.six{
    position:absolute;
    left: 49.5%;
    top: 78.5%;
}
.nine{
    position:absolute;
    left: 35%;
    top: 47.5%;
}
.three{
    position:absolute;
    right: 35%;
    top: 47.5%;
}
